<%= bootstrap_form_for("report", :url => reports_path, :html => { :class => "form-horizontal"}) do |f| %>

  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited
        this report from being saved:</h2>
      <ul>
        <% @report.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
 <% end %>

 <div class="well">         <!--Temporary fix- Removed class col-md-6 col-md-offset-3-->
  <fieldset>
      <div class="col-md-8 col-md-offset-2">
            <legend>Post to Your Diary</legend>

      <div class="form-group">
      <%= f.time_field :sleep, label: "When did you go to sleep yesterday?" %>
      <%= f.time_field :wake, label: "When did you wake up today?" %>
      <%= f.number_field :weight, label: "Weight (lbs):", placeholder: "180" %>
      <%= f.select :excercise, options_for_select(["Yes", "No"]) %>
      <%= f.select :energy, options_for_select(["1 - Very Tired", "2", "3", "4", "5", "6", "7", "8", "9", "10 - Very Energetic"]) %>
      <%= f.select :mood, options_for_select(["Afraid", "Tense", "Depressed", "Disappointed", "Proud", "Cheerful", "Happy", "Loving", "Humiliated", "Sad"].shuffle) %>      
    <%= f.select :stress, options_for_select(["1 - Very Relaxed", "2", "3", "4", "5", "6", "7", "8", "9", "10 - Very Stressed"]) %>
      </div>

    <div class="form-actions">
      <%= f.submit %>
    </div>

  </div>
  </fieldset>
<% end %>
</div>